<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /tarkarli/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /tarkarli/index.php [L]
</IfModule>
